
span{
    display:inline-block;
    margin-top: 2rem;
    margin-right: 3rem;
    width: 300px;
  }

  .itemTitle,
  .itemUrl {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}